In [1]:
corpus=['This is sentence one','This is sentence two','This is sentence three']
from sklearn.feature_extraction import text
cv=text.CountVectorizer(input=corpus)
matrix=cv.fit_transform(corpus)

In [3]:
## Don't do this on a bigger matrix, sklearn stores them in memory efficient format
import pandas as pd
pd.DataFrame(matrix.toarray(),columns=cv.get_feature_names())

   is  one  sentence  this  three  two
0   1    1         1     1      0    0
1   1    0         1     1      0    1
2   1    0         1     1      1    0

In [4]:

## Features can be bigrams as well
cv1=text.CountVectorizer(input=corpus,ngram_range=(2,2))
matrix1=cv1.fit_transform(corpus)
cv1.get_feature_names()
pd.DataFrame(matrix1.toarray(),columns=cv1.get_feature_names())

   is sentence  sentence one  sentence three  sentence two  this is
0            1             1               0             0        1
1            1             0               0             1        1
2            1             0               1             0        1

In [5]:
## Similarly you can have bigram, tri-gram features. You can also
cv2=text.CountVectorizer(input=corpus,ngram_range=(1,3))
matrix2=cv2.fit_transform(corpus)
cv2.get_feature_names()
pd.DataFrame(matrix2.toarray(),columns=cv2.get_feature_names())

,is,is sentence,is sentence one,is sentence three,is sentence two,one,sentence,sentence one,sentence three,sentence two,this,this is,this is sentence,three,two
0,1,1,1,0,0,1,1,1,0,0,1,1,1,0,0
1,1,1,0,0,1,0,1,0,0,1,1,1,1,0,1
2,1,1,0,1,0,0,1,0,1,0,1,1,1,1,0

In [6]:
## While creating vector representaton one can get rid of commonly used english words

cv3=text.CountVectorizer(input=corpus,ngram_range=(1,3),stop_words='english')
matrix4=cv3.fit_transform(corpus)
pd.DataFrame(matrix4.toarray(),columns=cv3.get_feature_names())
## you can see common words like 'this','is' etc have been omitted while creating a vector representation

   sentence
0         1
1         1
2         1

In [ ]:
corpus=['This is sentence one','This is sentence two','This is sentence three']
from sklearn.feature_extraction import text
cv=text.CountVectorizer(input=corpus)
matrix=cv.fit_transform(corpus)

In [7]:
## Suppose you wanted to extract unigram features from a related corpus,

corpus1=["This is sentence four","This is sentence five"]
matrix3=cv.transform(corpus1)
pd.DataFrame(matrix3.toarray(),columns=cv.get_feature_names())


## Notice how the previous vocabulary is being used

   is  one  sentence  this  three  two
0   1    0         1     1      0    0
1   1    0         1     1      0    0

In [8]:

## Tfidf

corpus=['This is sentence one','This is sentence two','This is sentence three']
from sklearn.feature_extraction import text


tf=text.TfidfVectorizer(input=corpus,ngram_range=(1,2))
matrix5=tf.fit_transform(corpus)
pd.DataFrame(matrix5.toarray(),columns=tf.get_feature_names())

,is,is sentence,one,sentence,sentence one,sentence three,sentence two,this,this is,three,two
0,0.305232,0.305232,0.516802,0.305232,0.516802,0.000000,0.000000,0.305232,0.305232,0.000000,0.000000
1,0.305232,0.305232,0.000000,0.305232,0.000000,0.000000,0.516802,0.305232,0.305232,0.000000,0.516802
2,0.305232,0.305232,0.000000,0.305232,0.000000,0.516802,0.000000,0.305232,0.305232,0.516802,0.000000

In [9]:

## Cosine similarity

corpus2=['This is sentence one','Trump is a Republican','This is sentence three','Trump will win elections']
tf=text.TfidfVectorizer(corpus2,ngram_range=(1,2))
matrix6=tf.fit_transform(corpus2)
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(matrix6)

array([[1.        , 0.09175104, 0.59131805, 0.        ],
       [0.09175104, 1.        , 0.09175104, 0.12034439],
       [0.59131805, 0.09175104, 1.        , 0.        ],
       [0.        , 0.12034439, 0.        , 1.        ]])

In [ ]:

## you can see sentence one and three are most similar and sentence 2 and 4 are most similar, vector representation, even very basic ones like tfidf can help us compute text similarity.